<#include "/layout/_layout.html" /> <@head title="首页|四眼井|互联网人的乐园 ">
<script src="/js/discuss.js"></script>
</@head> <@body 5>
<div class=" clearfix">
	<div class="ui-grid-19">
		<div class="mgl-20">
			<div class="ui-box">
				<div class="ui-box-title">
					<a href="" ><strong style="font-size:15px">${discuss.title}</strong></a>
				</div>
				<div class="ui-box-content">
					<div id="DiscussDetail" style="overflow: hidden; width: 700px;">
						<ul class="info">
							<li>
								<strong style="font-size:15px">发布者：</strong>
								<a href="http://my.siyanjing.com/${discuss.authorname}">
									${discuss.authorname}
								</a>
								&nbsp; &nbsp; &nbsp; <strong style="font-size:15px">发布日期：</strong>&nbsp; ${discuss.createtime?string("yyyy-MM-dd hh:mm:ss")}
								&nbsp; &nbsp; &nbsp; <strong style="font-size:15px">${discuss.views!"0"}阅读/${discuss.comments!"0"}回复</strong>
							</li>
						</ul>
						<br>
						<strong style="font-size:15px">详细描述:</strong>
						<div class="detail">
							${discuss.content}
							<div class="clear">
							</div>
						</div>
						<ul class="more_detail">
							<li>
								<strong>类别： </strong>
								<script>
									distype('${discuss.type}')
								</script>
							</li>
							
							<li>
								<strong style="font-size:15px">标签：</strong>&nbsp;<script>
									disprjname('${discuss.prjname}');
								</script>
							</li>
						</ul>
						<div style="float:right;">
							<script type="text/javascript" charset="utf-8">
								(function(){
								    var _w = 106, _h = 58;
								    var param = {
								        url: location.href,
								        type: '5',
								        count: '1', /**是否显示分享数，1显示(可选)*/
								        appkey: '', /**您申请的应用appkey,显示分享来源(可选)*/
								        title: '', /**分享的文字内容(可选，默认为所在页面的title)*/
								        pic: '', /**分享图片的路径(可选)*/
								        ralateUid: '', /**关联用户的UID，分享微博会@该用户(可选)*/
								        language: 'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
								        rnd: new Date().valueOf()
								    }
								    var temp = [];
								    for (var p in param) {
								        temp.push(p + '=' + encodeURIComponent(param[p] || ''))
								    }
								    document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="' + _w + '" height="' + _h + '"></iframe>')
								})()
							</script>
						</div>
						<div class="clear">
						</div>
					</div>
					<div id="comment_display" rel="discuss_${discuss.id}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<#include "/layout/discuss/rightmoudle.html">
</div>
</@body>
<@script>
<script type="text/javascript">
    seajs.use('kindeditor', function(KindEditor){
        KindEditor.ready(function(K){
            K.create('#editor_id');
        });
    });
</script>
</@script>